.result-button {
  background-color: #f44336;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: large;
  margin: 4px 2px;
  cursor: pointer;
}
