<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <app-checkbox-box [genres]="genres"></app-checkbox-box>
      <app-ai-control></app-ai-control>
      <div>
        <label class="col-md-1">{{ minRating }}</label>
        <mat-slider
          class="col-md-1"
          discrete="true"
          tickInterval="1"
          step="0.1"
          min="0"
          max="10"
        >
          <input matSliderThumb [(ngModel)]="minRating" #slider />
        </mat-slider>
      </div>
    </div>
    <button class="btn btn-primary" (click)="getResults()">Get results</button>
  </div>
  <mat-progress-bar mode="query" *ngIf="loadingResults"></mat-progress-bar>
  <app-movie-list [movies]="movies"></app-movie-list>
</div>
