<section class="about-page">
  <mat-card class="about-card">
    <mat-card-header>
      <mat-card-title>Welcome to W2W (What to Watch?)</mat-card-title>
      <mat-card-subtitle>Discover Your Perfect Movie Match</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <p>
        Indulge in the world of cinema with W2W, your go-to movie recommendation
        companion. Personalize your movie suggestions based on your unique
        tastes and preferences.
      </p>

      <div class="feature-list">
        <h3>Features:</h3>
        <ul>
          <li>
            <mat-icon>check</mat-icon> Select your preferred movie genres with
            ease using our intuitive checkboxes.
          </li>
          <li>
            <mat-icon>check</mat-icon> Fine-tune your movie choices by setting a
            minimum rating on our interactive slider.
          </li>
          <li>
            <mat-icon>check</mat-icon> Unleash the power of AI! Enable our
            language model to understand your movie desires through open-ended
            prompts.
          </li>
          <li>
            <mat-icon>check</mat-icon> Explore detailed movie cards featuring
            covers, ratings, plots, and genres.
          </li>
          <li>
            <mat-icon>check</mat-icon> Experience personalized insights from AI,
            replacing traditional movie plots in your suggestions.
          </li>
        </ul>
      </div>

      <p>
        Let W2W guide you through the cinematic universe, delivering tailored
        movie recommendations just for you. Start your movie journey today!
      </p>
    </mat-card-content>
  </mat-card>
</section>
