.checkbox-section {
  max-height: 320px; /* Set the maximum height as per your requirement */
  overflow-y: auto; /* Enable vertical scrolling if needed */
}

.checkbox-container {
  width: 50%; /* Two columns on larger screens */
  box-sizing: border-box; /* Include padding and border in the width */
  padding: 8px; /* Adjust padding as needed */
}
