<mat-card>
  <a href="{{ movie.imdb_url }}" target="_blank">
    <img
      mat-card-image
      class="cover-image"
      [src]="movie.image_url"
      alt="{{ movie.title }} Cover"
    />
  </a>
  <mat-card-header>
    <a href="{{ movie.imdb_url }}" target="_blank">
      <mat-card-title>{{ movie.title }}</mat-card-title>
    </a>
  </mat-card-header>
  <mat-card-content>
    <p>{{ movie.plot }}</p>
  </mat-card-content>
  <mat-card-footer>
    <mat-chip-list>
      <mat-chip *ngFor="let genre of movie.genres" color="primary">{{ genre }}</mat-chip>
    </mat-chip-list>
  </mat-card-footer></mat-card>
