.toggle {
  margin: 24px 0;
  display: flex;
  align-items: center;
}

.toggle span {
  vertical-align: middle;
}

.prompt {
  margin-bottom: 16px;
  width: 100%;
}

.prompt textarea {
  width: 100%;
  resize: vertical;
}
